/** @format */
.album-title {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 1rem;
}

.artist-name {
  color: white;
}
.card-img {
  border-radius: 50%;
}

.song-section:hover {
  background-color: rgb(4, 34, 62);
}
