/** @format */
.art-img {
  position: relative;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.art-img::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 50% !important;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.art-img:hover {
  transform: scale(1.1, 1.1);
  border-radius: 50% !important;
}

.art-img:hover::after {
  opacity: 1;
}
