/** @format */

.premium {
  margin-top: 12rem;
  margin-left: 2rem;
}
.card {
  color: black;
  border-radius: 20px;
  width: 22rem;
}

.card-body {
  height: 17rem;
}
.sub-btn {
  background-color: black;
}
