/** @format */
body {
  /* background-color: rgb(71, 160, 220) !important; */
  background-image: url("./assets/bgImg1.jpg");

  background-position: center;
  align-items: center;
  max-width: 1550px;
}
.App {
  text-align: center !important;
  color: white;
}
